<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<ul>
			<li class="ee">1</li>
		</ul>
		<ul>
			<li class="ee">1</li>
		</ul>
		<ul>
			<li class="ee">1</li>
		</ul>
		<ul>
			<li class="ee">1</li>
		</ul>

		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript">
			$('.ee').click(function() {
				$(this).addClass('r').parents('ul').siblings().children('.ee').removeClass('r')
			})
		</script>
	</body>

</html>